*{
  background: #ffff;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Homepage Header */

.homepage{
  display: flex;
}

.homepage-tag{
  position: absolute;
  width: 506px;
  height: 105px;
  left: 148px;
  top: 228px;
  font-family: 'Heebo';
  font-style: normal;
}

.homepage-tag h1{
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 2rem;
  line-height: 60px;
  color: #21243D;
}

.homepage-tag p{
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 2rem;
  line-height: 24px;
  color: #21243D;
}

.homepage-tag button{
  width: 208px;
  height: 47px;
  left: 148px;
  top: 477px;
  background-color: #FF6464;
  border-radius: 2px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}

.homepage-img{
  position: absolute;
  width: 30rem;
  height: 30rem;
  left: 60%;
  top: 150px;
  background-image: url(./images/391-3919735_alicia-profile-photography.png);
  background-repeat: no-repeat;
  background-position: left;
}

/* Homepage header */


/* Recents Posts */


.recents{
  margin: 8rem;
  background-color: #EDF7FA;
  display: flex;
  justify-content: space-between;
}

.recentsH-left{
  background-color: #FFFFFF;
  
}


